body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}
.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index:9999;
    border-radius:0px
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    display: none;
}
.complete{
    display:none;
}

.more{
    font-size:13px;
    padding:3px;
    cursor:pointer;
}
