body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}
.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index:9999;
    border-radius:0px
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    display: none;
}
.complete{
    display:none;
}

.more{
    font-size:13px;
    padding:3px;
    cursor:pointer;
}
.login {
    position: absolute;
    right: 35px;
    top: 70px;
    width: 350px;
    display: none;
    z-index: 2;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #3a3f44;
    left: 80%;
    position: absolute;
    top: -10px;
}
.formholder {
    background: #3a3f44;
    width: 350px;
    border-radius: 5px;
    padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"] {
    padding: 7px 5px;
    margin: 10px 0;
    width: 96%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
    background: #1abc9c;
    padding: 10px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #3a3f44;
    border-radius: 5px;
}
.formholder input[type="submit"]:hover {
    background: #1bc6a4;
}

.randompad {
    padding: 10px;
}